<% content_for :page_title, "Form styles" %>

<div class="spacing content-code">


  <div class="panel__passive panel--padding">
    <em>Note: Ornament assumes you are using simple_form to generate form fields.</em>
  </div>

  <hr />

  <div class="content">
    <h2>Sizes</h2>

    <p>You can pass in size classes through either the <code>wrapper_html</code> or <code>input_html</code>.</p>

    <pre>&lt;%= f.input :name, wrapper_html: { class: "form__large" } -%>
&lt;%= f.input :name, input_html: { class: "form__large" } -%></pre>

    <p>Using the sizing class on the input itself will size only the input, but if you use it on the wrapper you can size the label, input, errors and hints all as one.</p>
  </div>
  
  <div class="control-group form__large">
    <label class="optional control-label"><code>.form__large</code></label>
    <div class="controls">
      <input class="string" type="text" />
    </div>
  </div>

  <div class="control-group form__medium">
    <label class="optional control-label"><code>.form__medium</code></label>
    <div class="controls">
      <input class="string" type="text" />
    </div>
  </div>

  <div class="control-group form__small">
    <label class="optional control-label"><code>.form__small</code></label>
    <div class="controls">
      <input class="string" type="text" />
    </div>
  </div>

  <div class="control-group form__x-small">
    <label class="optional control-label"><code>.form__x-small</code></label>
    <div class="controls">
      <input class="string" type="text" />
    </div>
  </div>

  <p>If you want a tighter input field, you can pass the class <code>input__tight</code> to the input field:</p>

  <div class="control-group form__medium">
    <label class="optional control-label"><code>.input__tight</code></label>
    <div class="controls">
      <input class="string input__tight" type="text" />
    </div>
  </div>

  <pre>&lt;%= f.input :name, input_html: { class: "input__tight" } -%></pre>

  <hr />

  <h2 class="heading-two">Modifiers</h2>

  <p>Disabled inputs prevent users from entering data:</p>

  <div class="control-group form__medium">
    <div class="controls">
      <input class="string" type="text" value="Disabled" disabled />
    </div>
  </div>

  <pre>&lt;%= f.input :name, input_html: { disabled: true } -%></pre>

  <p>Placeholders show text in the input field when the field is empty:</p>

  <div class="control-group form__medium">
    <div class="controls">
      <input class="string" type="text" placeholder="Username" />
    </div>
  </div>

  <pre>&lt;%= f.input :name, input_html: { placeholder: "Enter your name" } -%></pre>

  <p>Hints, error messages and requiredness:</p>

  <div class="control-group form__medium error">
    <label class="string required control-label" for="hints_and_errors">
      <abbr title="required">*</abbr> Your name
      <span class="error-block">This is an error message</span>
      <p class="hint-block">This is a hint</p>
    </label>
    <div class="controls">
      <input class="string required" id="hints_and_errors" name="hints_and_errors" type="text">
    </div>
  </div>

  <pre>&lt;%= f.input :name, hint: "This is a hint", required: true -%></pre>

  <hr />

  <h2 class="heading-two">Input types</h2>

  <div class="inputs">

    <div class="control-group form__medium">
      <label class="optional control-label">String</label>
      <div class="controls">
        <input class="string" type="text" />
      </div>
    </div>

    <div class="control-group form__medium">
      <label class="optional control-label">Password</label>
      <div class="controls">
        <input class="string" type="password" />
      </div>
    </div>

    <div class="control-group form__medium">
      <label class="optional control-label">Email</label>
      <div class="controls">
        <input class="string" type="email" />
      </div>
    </div>

    <div class="control-group form__medium">
      <label class="optional control-label">Number</label>
      <div class="controls">
        <input class="string" type="number" />
      </div>
    </div>

    <div class="control-group form__medium">
      <label class="optional control-label">Text</label>
      <div class="controls">
        <textarea></textarea>
      </div>
    </div>

    <div class="control-group form__medium">
      <label class="optional control-label">Select</label>
      <div class="controls">
        <select>
          <option>Please select</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
          <option value="6">Option 6</option>
          <option value="7">Option 7</option>
        </select>
      </div>
    </div>

  </div>

  <hr />

  <h2 class="heading-two">Checkboxes and Radios</h2>

  <div class="inputs">

    <div class="control-group check_boxes required">
      <label class="check_boxes required control-label">
        Basic checkboxes
      </label>
      <div class="controls">
        <label class="checkbox">
          <input class="check_boxes required" id="checkboxes_true" name="form[checkboxes]" type="checkbox" value="true">Yes
        </label>
        <label class="checkbox">
          <input class="check_boxes required" id="checkboxes_false" name="form[checkboxes]" type="checkbox" value="false">No
        </label>
      </div>
    </div>

    <pre class="sg-pre prettyprint">&lt;%= f.input :name, as: :checkboxes, collection: Model::Options -%></pre>

    <div class="control-group radio_buttons required">
      <label class="radio_buttons required control-label">
        Basic radios
      </label>
      <div class="controls">
        <label class="radio">
          <input class="radio_buttons required" id="radios_true" name="form[radios]" type="radio" value="true">Yes
        </label>
        <label class="radio">
          <input class="radio_buttons required" id="radios_false" name="form[radios]" type="radio" value="false">No
        </label>
      </div>
    </div>

    <pre class="sg-pre prettyprint">&lt;%= f.input :name, as: :radios, collection: Model::Options -%></pre>

    <div class="control-group radio_buttons required form__horizontal">
      <label class="radio_buttons required control-label">
        Horizontal radios/checkboxes with the <code>form__horizontal</code> class on the wrapper.
      </label>
      <div class="controls">
        <label class="radio">
          <input class="radio_buttons required" id="horizontal_radios_true" name="form[horizontal_radios]" type="radio" value="true">Yes
        </label>
        <label class="radio">
          <input class="radio_buttons required" id="horizontal_radios_false" name="form[horizontal_radios]" type="radio" value="false">No
        </label>
      </div>
    </div>

    <pre class="sg-pre prettyprint">&lt;%= f.input :name, as: :radios, collection: Model::Options, wrapper_html: { class: "form__horizontal" } -%></pre>

    <div class="control-group boolean optional form__checkbox">
      <label class="boolean optional control-label" for="single_checkbox">
        A single checkbox / boolean with the wrapper class <code>form__checkbox</code>
        <span class="error-block">This is an error message</span>
        <p class="hint-block">This is a hint</p>
      </label>
      <div class="controls">
        <input name="form[single_checkbox]" type="hidden" value="0">
        <label class="checkbox">
          <input class="boolean optional" id="single_checkbox" name="form[single_checkbox]" type="checkbox" value="1">
        </label>
      </div>
    </div>

    <pre class="sg-pre prettyprint">&lt;%= f.input :name, as: :radios, collection: Model::Options, wrapper_html: { class: "form__checkbox" } -%></pre>

  </div>

  <hr />

  <h2 class="heading-two">Input attachments</h2>

  <div class="control-group form__medium">
    <label class="optional control-label">Button on the right</label>
    <div class="controls">
      <div class="form__attachments">
        <input type="text" class="input" />
        <button class="form--attachment button">Search</button>
      </div>
    </div>
  </div>

  <div class="control-group form__medium">
    <label class="optional control-label">Attachment on the left</label>
    <div class="controls">
      <div class="form__attachments">
        <div class="form--attachment">
          <span>$</span>
        </div>
        <input type="text" class="input" />
      </div>
    </div>
  </div>

  <div class="control-group form__medium">
    <label class="optional control-label">Attachment on the right</label>
    <div class="controls">
      <div class="form__attachments">
        <input type="text" class="input" />
        <div class="form--attachment">
          <span>.00</span>
        </div>
      </div>
    </div>
  </div>

  <div class="control-group form__medium">
    <label class="optional control-label">Attachment on the left and right</label>
    <div class="controls">
      <div class="form__attachments">
        <div class="form--attachment">
          <span>$</span>
        </div>
        <input type="text" class="input" />
        <div class="form--attachment">
          <span>.00</span>
        </div>
      </div>
    </div>
  </div>

  <pre>&lt;div class="form__attachments">
  &lt;div class="form--attachment">
    &lt;span>$&lt;/span>
  &lt;/div>
  &lt;= f.input_field :name -%>
  &lt;div class="form--attachment">
    &lt;span>.00&lt;/span>
  &lt;/div>
&lt;/div></pre>

  <hr />

  <h2 class="heading-two">Text Limiter</h2>

  <p>You can limit text fields by adding a <code>data-limiter</code> attribute. The value sent to the attribute is the number of characters you want to limit the field to. eg:</p>

  <div class="inputs form__medium">
    <textarea data-limiter="200"></textarea>
    <input type="text" data-limiter="80" />
  </div>

  <pre class="sg-pre prettyprint">&lt;%= f.input :name, input_html: { data: { limiter: "200" } } -%></pre>

  <p>You can make the text limiter a little more subtle by adding the data attribute <code>data-limiter-micro</code>:</p>

  <div class="inputs form__medium">
    <textarea data-limiter="200" data-limiter-micro></textarea>
    <input type="text" data-limiter="80" data-limiter-micro />
  </div>

  <pre class="sg-pre prettyprint">&lt;%= f.input :name, input_html: { data: { limiter: "200", limiter_micro: "" } } -%></pre>

</div>