<%- content_for :page_title, "Grid" -%>

<div class="spacing content-code">

  <div class="content">
    <h2>Grids and columns</h2>

    <p>
      Grids are created using <code>flexbox</code> and flex-* mixins.
    </p>

    <hr />

    <h3>Sass mixins</h3>

    <p>The wrapper element uses the <code>flex-row</code> mixin:</p>

    <p><code>@include flex-row($gutter:false);</code></p>

    <p>The column elements use the <code>flex-col</code> mixin:</p>

    <p><code>@include flex-col($width, $gutter:false, $grow:0, $shrink:0);</code></p>

    <p>You can take advantage of the <code>span</code> mixin to easily calculate percentage widths, for example:</p>

    <p><code>@include flex-col(span(4,12));</code></p>

    <hr />

    <h3>Gutterless grids</h3>

    <p>By default, grids don't have gutters:</p>
  </div>
  
  <div class="grid--row">
    <div class="grid--50">50% column with no gutters</div>
    <div class="grid--50">50% column with no gutters</div>
    <div class="grid--50">50% column with no gutters</div>
    <div class="grid--50">50% column with no gutters</div>
  </div>

  <pre>.grid--row {
  @include flex-row;
}

.grid--50 {
  @include flex-col(50%);
  @include example-column;
}</pre>

  <hr />

  <h3 class="heading-three">Grids with gutters</h3>

  <p>You can pass in a gutter value to the mixins:</p>

  <div>
    <div class="grid-gutter--row">
      <div class="grid-gutter--50">
        <div>50% column with gutters</div>
      </div>
      <div class="grid-gutter--50">
        <div>50% column with gutters</div>
      </div>
      <div class="grid-gutter--50">
        <div>50% column with gutters</div>
      </div>
      <div class="grid-gutter--50">
        <div>50% column with gutters</div>
      </div>
    </div>
  </div>

  <pre>.grid-gutter--row {
  @include flex-row($desktop-gutters);
}

.grid-gutter--50 {
  @include flex-col(50%, $desktop-gutters);
  @include example-column("> div");
}</pre>

  <hr />

  <h3 class="heading-three">Responsive columns</h3>

  <p>These columns have a media query at 800px wide that expands the columns to 50%.</p>

  <div>
    <div class="grid-gutter--row">
      <div class="grid-gutter--25-50">
        <div>25% column with gutters, that responds to 50%</div>
      </div>
      <div class="grid-gutter--25-50">
        <div>25% column with gutters, that responds to 50%</div>
      </div>
      <div class="grid-gutter--25-50">
        <div>25% column with gutters, that responds to 50%</div>
      </div>
      <div class="grid-gutter--25-50">
        <div>25% column with gutters, that responds to 50%</div>
      </div>
    </div>
  </div>

  <pre>.grid-gutter--25-50 {
  @include flex-col(25%, $desktop-gutters);
  @include example-column("> div");
  @include media-query(800px) {
    @include flex-col(50%);
  }
}</pre>

  <hr />

  <h3 class="heading-three">Responsive gutters</h3>

  <p>These grids have flexible gutters:</p>

  <div>
    <div class="grid-gutter--row--responsive">
      <div class="grid-gutter--50--responsive">
        <div>50% column with responsive gutters</div>
      </div>
      <div class="grid-gutter--50--responsive">
        <div>50% column with responsive gutters</div>
      </div>
      <div class="grid-gutter--25-50--responsive">
        <div>25% column with gutters, that responds to 50% with a smaller gutter</div>
      </div>
      <div class="grid-gutter--25-50--responsive">
        <div>25% column with gutters, that responds to 50% with a smaller gutter</div>
      </div>
      <div class="grid-gutter--25-50--responsive">
        <div>25% column with gutters, that responds to 50% with a smaller gutter</div>
      </div>
      <div class="grid-gutter--25-50--responsive">
        <div>25% column with gutters, that responds to 50% with a smaller gutter</div>
      </div>
    </div>
  </div>

  <pre>.grid-gutter--row--responsive {
  @include flex-row($desktop-gutters);
  @include media-query(800px) {
    @include flex-row($small-gutter);
  }
}
.grid-gutter--50--responsive {
  @include flex-col(50%, $desktop-gutters);
  @include example-column("> div");

  @include media-query(800px) {
    @include flex-col(50%, $small-gutter);
  }
}
.grid-gutter--25-50--responsive {
  @include flex-col(25%, $desktop-gutters);
  @include example-column("> div");

  @include media-query(800px) {
    @include flex-col(50%, $small-gutter);
  }
}</pre>

  <hr />

  <h3 class="heading-three">Complex layout</h3>

  <div>
    <div class="grid-complex">

      <div class="grid-complex--item__large">
        <div class="grid-complex--item__large--image" style="background-image: url('http://placehold.it/500x500');"></div>
        <div class="panel__passive panel--padding" contenteditable>
          Text
        </div>
      </div>

      <div class="grid-complex--item__large">
        <div class="grid-complex">
          <div class="grid-complex--item__wide">
            <div class="grid-complex--tile panel__passive">
              <img src="http://placehold.it/500x200" />
              <div class="panel--padding" contenteditable>
                Text<br />
                Text
              </div>
            </div>
          </div>
          <div class="grid-complex--item__large-small">
            <div class="grid-complex--tile panel__passive">
              <img src="http://placehold.it/250x200" />
              <div class="panel--padding" contenteditable>
                Text
              </div>
            </div>
          </div>
          <div class="grid-complex--item__large-small">
            <div class="grid-complex--tile panel__passive">
              <img src="http://placehold.it/250x200" />
              <div class="panel--padding" contenteditable>
                Text
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-complex--item__small">
        <div class="grid-complex--tile panel__passive">
          <img src="http://placehold.it/250x200" />
          <div class="panel--padding" contenteditable>
            Text
          </div>
        </div>
      </div>

      <div class="grid-complex--item__small">
        <div class="grid-complex--tile panel__passive">
          <img src="http://placehold.it/250x200" />
          <div class="panel--padding" contenteditable>
            Text<br />
            Text
          </div>
        </div>
      </div>

      <div class="grid-complex--item__small">
        <div class="grid-complex--tile panel__passive">
          <img src="http://placehold.it/250x200" />
          <div class="panel--padding" contenteditable>
            Text
          </div>
        </div>
      </div>

      <div class="grid-complex--item__small">
        <div class="grid-complex--tile panel__passive">
          <img src="http://placehold.it/250x200" />
          <div class="panel--padding" contenteditable>
            Text
          </div>
        </div>
      </div>

    </div>
  </div>

</div>