<%- content_for :page_title, "More Menu" -%>

<div class="spacing">
  <p>A menu that moves items in to a more menu when the screen runs out of room.</p>

  <ul class="list-horizontal" data-more-menu>
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">More</a>
      <ul>
        <li><a href="#">Community</a></li>
        <li><a href="#">Chat with Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </li>
  </ul>

  <ul class="list-horizontal" data-more-menu>
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Community</a></li>
    <li><a href="#">Chat with Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</div>