////////////////////////////////////////////////////////////////////////////////
//
// This file contains common variables used by Ornament.
//
////////////////////////////////////////////////////////////////////////////////


// BASE UNITS
//
//
// The base font size should be set in pixels.
//
// The base line height should be unitless (ratio of line height to font size).
//

$base-pixel:          16px;

$small-font-size:     14px;
$base-font-size:      $base-pixel;
$large-font-size:     18px;
$base-line-height:    1.5;
$base-line-size:      $base-font-size * $base-line-height;

// CONTAINER WIDTH
//
// Width of the container (desktop only).
//

$container-width: 1072px;
$container-percentage: 92%;

// SIZES
//
//
// Setup a sizing units.
//

$xxxxx-small-unit:      8px;
$xxxx-small-unit:       12px;
$xxx-small-unit:        16px;
$xx-small-unit:         20px;
$x-small-unit:          24px;
$small-unit:            28px;
$default-unit:          32px;
$large-unit:            36px;
$x-large-unit:          40px;
$xx-large-unit:         44px;
$xxx-large-unit:        48px;
$xxxx-large-unit:       56px;
$xxxxx-large-unit:      64px;
$xxxxxx-large-unit:     72px;
$xxxxxxx-large-unit:    80px;

// GLOBAL UNITS
//

$border-radius:   4px;
$button-height:   44px;

$panel-padding-large:   $x-large-unit;
$panel-padding:         $xx-small-unit;
$panel-padding-small:   $xxx-small-unit;
$panel-padding-tiny:    $xxxx-small-unit;

$navigation-height: 56px;

// BREAKPOINTS
//
// Desktop first breakpoints. Used in conjunction with media-query util. (Breakpoint keyword, Desktop first breakpoint)
//

$breakpoint-typography: 480px;
$breakpoint-large: 1080px;
$breakpoint-medium: 935px;
$breakpoint-small: 780px;
$breakpoint-tiny: 620px;
$header-breakpoint: $breakpoint-medium;

// Header breakpoint
// If changing, remember to update the JS variable in defaults.js
$breakpoint-header: 990px;

// Reverse page breakpoint
// used with page__reverse classes
$reverse-page-breakpoint: 740px;

$site-breakpoints:
  (tiny, $breakpoint-tiny),
  (small, $breakpoint-small),
  (medium, $breakpoint-medium),
  (large, $breakpoint-large)
;

// GUTTERS
//
// Site gutters to be used at desktop and specific breakpoints. Used within grids util. (Breakpoint keyword, Gutter size)
//

$desktop-gutters: $large-unit;

$large-gutter:    $large-unit;
$medium-gutter:   $large-unit;
$small-gutter:    $large-unit;
$tiny-gutter:     $default-unit;

$site-gutters:
  false
;

// COLORS
//
// Default colors.
//

$primary-color: #3498DB;

$default-color: #1ABC9C;
$default-color-dark: darken($default-color, 10);
$default-color-x-dark: darken($default-color, 20);

$secondary-color: #34495E;
$secondary-color-dark: darken($secondary-color, 10);
$secondary-color-x-dark: darken($secondary-color, 20);

$error-color: #E74C3C;
$success-color: #2ECC71;
$warning-color: #F1C40F;
$passive-color: #ECF0F1;

$foreground-color: #2C3E50;
$background-color: #fff;

$link-color: $primary-color;
$link-hover-color: false;

$divider: $passive-color;
$input-border-color: #D3D3D3;
$input-border-focus-color: darken($input-border-color,20);
$table-border-color: #BDC3C7;

$white: #fff;
$grey: #bbb;
$facebook: #3b5998;
$twitter: #44ccf6;
$linkedin: #1b86bd;


// INPUTS
//
// Input styling.
//

$checkbox-radio-padding:  -0.2em 0 0 0.2em;
$input-background:        #ffffff;
$input-border:            1px solid $input-border-color;
$input-border-radius:     2px;
$input-color:             $foreground-color;
$input-padding:           0.3em 0.2em 0.1em;
$input-width:             100%;
$textarea-height:         $base-line-size*5;

// LAYOUT VARIABLES

$layout-mobile-tray-width:  250px;
$layout-animation-duration: 0.5s;




/**
  LEGACY SETTINGS
  TO BE CONSOLIDATED AND REMOVED
*/


// BASE FONT SIZE

$FONT_SIZE: 16px;

// LINES

$LINE_HEIGHT: 1.375;       // 22px
$LINE: $LINE_HEIGHT * 1em; // 1.375em

// GUTTERS

$GUTTER:          1.50em; // 24px
$GUTTER_SMALL:    1.00em; // 16px
$GUTTER_X_SMALL:  0.50em; // 8px
$GUTTER_XX_SMALL: 0.25em; // 4px

// SPACES

$SPACE_XX_LARGE:  3.000em; // 48px
$SPACE_X_LARGE:   2.000em; // 32px
$SPACE_LARGE:     1.500em; // 24px
$SPACE:           1.000em; // 16px
$SPACE_SMALL:     0.750em; // 12px
$SPACE_X_SMALL:   0.500em; // 8px
$SPACE_XX_SMALL:  0.250em; // 4px
$SPACE_XXX_SMALL: 0.125em; // 2px

// FONT SIZES

$FONT_SIZE_XXX_LARGE: 250.0%; // 2.500em // 40px
$FONT_SIZE_XX_LARGE:  200.0%; // 2.000em // 32px
$FONT_SIZE_X_LARGE:   150.0%; // 1.500em // 24px
$FONT_SIZE_LARGE:     125.0%; // 1.250em // 20px
$FONT_SIZE_NORMAL:    100.0%; // 1.000em // 16px
$FONT_SIZE_SMALL:      87.5%; // 0.875em // 14px
$FONT_SIZE_X_SMALL:    75.0%; // 0.750em // 12px

// COLORS

$COLOR_BLACK:      hsl(  0,   0%,   0%); // #000000
$COLOR_GREY_LIGHT: hsl(  0,   0%,  85%); // #D9D9D9
$COLOR_WHITE:      hsl(  0,   0%, 100%); // #FFFFFF

// BREAKPOINTS

$BREAKPOINT_X_SMALL: 512px;