<% search_class ||= false -%>

<form class="<%= search_class -%>" action='<%#= search_index_path %>' method='get'>
  <div class="form-field__attachments">
    <input type="text" id="search_things" name="search_things" />
    <button type="submit" class="button form-field--attachment">Search</button>
  </div>
</form>